<div class="contacts__box">
  <div class="container container--contacts">
    <div class="contacts__row">
      <a class="contacts__phone" href="tel:+380936596241">+380 93 659 62 41</a>
      <a class="contacts__email" href="mailto:info@monblan-finance.com">info@monblan-finance.com</a>
      <p class="contacts__address">01133, Київ, б.Лесі Українки, будинок 26, корпус Б, офіс 902</p>
      <div class="contacts__schedule">
        <p>ПН-ПТ З 9:00 ДО 18:00 <br>
          ОБІДНЯ ПЕРЕРВА З 13:00 ДО 14:00</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container container--elem">
    <div class="footer__logo">
      <img src="../assets/img/icons/bank.svg" alt="Logo">
      <img src="../assets/img/icons/mastercard.svg" alt="mastercard">
      <img src="../assets/img/icons/visa.svg" alt="visa">
    </div>
    <div class="footer__text">
      <p>© Copyright 2019-2023 Фінансова компанія МОНБЛАН ФІНАНС, код за ЄДРПОУ 44413938. Всі права захищено. Рішення Національного банку України від 28.01.2022 № 21/191-рк про видачу ліцензій на надання фінансових послуг: надання коштів у позику, в тому числі на умовах фінансового кредиту; надання послуг з факторингу</p>
    </div>
    <p class="footer__elem">developed by garno.tech</p>
  </div>
</footer>
