<section class="login">
  <div class="container">
    <app-icon-logo class="logo logo__center"></app-icon-logo>
    <div class="login__wrap">
      <p class="login__subtitle">Увійти в кабінет</p>
      <form class="login__form">
        <button class="btn">Увійти</button>
      </form>
      <button class="link" routerLink="/restore">Забули пароль?</button>
    </div>
    <div class="login__row">
      <p class="login__box">Не маєте акаунту?</p>
      <button class="login__elem" routerLink="/signup">Зареєструватись!</button>
    </div>
  </div>
</section>
