@import 'variables';

.pay {
  margin-bottom: 74px;
  @include media(mdx) {
    margin-bottom: 60px;
  }
  @include media(sm) {
    margin-bottom: 50px;
  }
  .btn {
    width: auto;
  }
  &__holder {
    background-color: #EFF4F6;
    padding: 47px 60px 50px;
    @include media(mdx) {
      padding: 40px;
    }
    @include media(sm) {
      padding: 40px 20px;
    }
  }
}
