@import 'variables';

:host {
  display: block;
  border-top: 1px solid #F5FAFF;
  margin-bottom: 50px;
  @include media(sm) {
    margin-bottom: 30px;
  }
}

.tabs {
  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    color: #797979;
    background-color: transparent;
    text-align: left;
    padding: 20px 30px;
    border: none;
    border-bottom: 1px solid #F5FAFF;
    @include media(sm) {
      padding: 20px;
    }
    &--active {
      color: #B54DA9;
    }
  }
  &__text {
    padding-left: 20px;
  }
}
